body {
    padding-top: 56px;
}

header {
    border-bottom: 1px solid #ddd;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #b4b6bb;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.small-icon {
    width: 15px;
    height: 15px;
}

.djangogramm-brand {
    margin-left: 20px;
}

@keyframes show-toast {
    0% {top: -100%}
    20% {top: 100px}
    80% {top: 100px}
    100% {top: -100%}
}

.show-notification {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: show-toast;
    animation-duration: 5s;
}
