{% extends 'main/base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-4">Profile</h2>

        <div class="mb-4">
            <strong>Avatar:</strong>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Current Avatar" class="img-fluid rounded" width="200" height="200">
            {% else %}
                <img src="{% static "deps/images/default-avatar.png" %}" alt="Current Avatar" class="img-fluid rounded" width="200" height="200">
            {% endif %}
        </div>

        <p><strong>Full name:</strong> {{ profile.full_name }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>

        <div class="mt-4">
            <a href="{% url 'profile:edit_profile' username=user.username %}" class="btn btn-primary">Edit Profile</a>
            <a href="{% url 'post:create_post' %}" class="btn btn-success">Create Post</a>
        </div>

        <form method="post" action="{% url 'users:logout' %}" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
{% endblock %}