{% extends 'main/base.html' %}

{% load follow_tag %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile</h2>
    {% csrf_token %}

    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="Current Avatar" class="img-fluid rounded" width="100" height="100">
    {% endif %}

    <p>Full name: {{ profile.full_name }}</p>
    <p>Bio: {{ profile.bio }}</p>

<p><a href="{% url 'post:user_posts' profile.user.username %}">{{ profile.user.username }} posts</a></p>
{% if not request.user.profile|is_following:profile %}
    <p><a href="{% url "profile:follow"  profile.id %}">Follow</a></p>
{% else %}
    <p><a href="{% url "profile:unfollow"  profile.id %}">Unfollow</a></p>
{% endif %}
{% endblock %}