{% extends 'base.html' %}

{% load static %}

{% block title %}Edit comment{% endblock %}

{% block content %}
    <div class="card post-card">
        <div class="card-header">
            <h2 class="add-comment-heading">Edit Comment</h2>
        </div>
        <div class="card-body">
            <form method="post" class="comment-form" action="{% url 'post:edit_comment' comment.id %}">

                {% include 'includes/non_field_errors.html' %}

                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_content" class="form-label">Comment Content</label>
                    <textarea name="content" rows="4" required id="id_content" class="form-control" style="resize: none;">{{ form.content.value }}</textarea>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}