{% extends 'base.html' %}

{% block title %}My Posts{% endblock %}

{% block content %}
    <h2 class="mb-4">My Posts</h2>

    <form class="d-flex mt-4" role="search" action="{% url "post:post_list" %}" method="get">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success " type="submit">Search</button>
    </form>

    {% if request.GET.q %}
         <h3 class="mt-4">Search results by query {{ request.GET.q }}</h3>
     {% if not posts %}
         <h2 class="mt-4">Nothing was found for the query</h2>
     {% endif %}
     {% endif %}

    {% for post in posts %}
        <div class="card mt-4 post-container">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title"><a href="{% url 'post:post_detail' post.id %}">{{ post.title }}</a></h4>
                        <p class="card-text">{{ post.content }}</p>

                        {% if post.tag %}
                            <p class="card-text">Tag: <span class="badge badge-info">{{ post.tag.name }}</span></p>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-end">
                        <a href="{% url 'profile:profile' post.owner.username %}">{{ post.owner.username }}</a>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div>
                    <p><a href="{% url 'post:edit_post' post.id %}" class="btn btn-secondary btn-sm">Edit post</a></p>
                    <p><a href="{% url 'post:delete_post' post.id %}" class="btn btn-danger btn-sm">Delete post</a></p>
                </div>
                <small class="text-muted">Date: {{ post.creation_date }}</small>
            </div>
        </div>
    {% endfor %}
{% endblock %}