{% extends 'main/base.html' %}

{% block content %}

<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
                <h2 class="text-center mb-4">My email</h2>
                <h4 class="text-center">We will send you resetting password letter</h4>
                <form method="post" action="/forgot_password/" class="mt-4">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}

                    <div class="form-group m-3">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" autofocus autocapitalize="none"  maxlength="100" required id="id_email" class="form-control"
                               value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="email@example.com">

                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>


                    <div class="d-flex justify-content-center m-4">
                        <button type="submit" class="btn btn-success  mr-2">Send me a message</button>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}