{% extends 'base.html' %}

{% block title %}Registration Success{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Registration Successful!</h2>
                <p class="card-text">Your account has been created successfully. Registration confirmation letter sent to <span class="text-black">{{ email }}</span>. Please check your email.</p>
                <a href="{% url 'users:resend_verification_email' email %}" class="btn btn-primary">Resend email</a>
                <a href="{% url 'users:change_email' email %}" class="btn btn-info">Change email</a>
            </div>
        </div>
    </div>
{% endblock %}
