{% extends 'base.html' %}

{% load static %}
{% load profile_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="col-md-5 mx-auto">
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <h3 class="text-center mb-4">Profile</h3>
        <div class="row">
            {% csrf_token %}

            <div class="col-md-12 mb-3 text-center">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="Current Avatar" width="200" height="200">
                {% else %}
                    <img src="{% static "deps/images/default-avatar.png" %}" alt="Current Avatar" class="img-fluid rounded" width="200" height="200">
                {% endif %}
            </div>

        <div class="col-md-12 mb-3 text-center">
             <label for="id_first_name" class="form-label">Full name:</label>
            {{ profile.full_name }}
        </div>
         <div class="col-md-12 mb-3 text-center" >
             <label for="id_first_name" class="form-label">Bio:</label>
            {{ profile.bio }}
        </div>

        <div class="mt-4 text-center">
            <p><a href="{% url 'post:user_posts' profile.user.username %}" class="btn-secondary">{{ profile.user.username }} posts</a></p>
            {% if not request.user.profile|is_following:profile %}
                <p><a href="{% url "profile:follow"  profile.id %}" class="btn-success">Follow</a></p>
            {% else %}
                <p><a href="{% url "profile:unfollow"  profile.id %}" class="btn-danger">Unfollow</a></p>
            {% endif %}
        </div>

        </div>
    </div>
</div>

{% endblock %}